 @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400;500;600&family=Trocchi&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.purple-header {
  background-color: rgb(56, 29, 56);
  color: white;
}

.aboutBg{
background: linear-gradient(0deg, rgba(237, 255, 253, 0.5), rgba(237, 255, 253, 0.5)), url("../public/AboutPage1.jpg");
background-repeat: no-repeat;
background-size: cover;
background-position: 50% 50%;
}

.font{
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.footerbottom{
  /* position: absolute; */
  bottom: 0;
  height: 50px;
  width: 100%;
}

.classic-font{
  font-size: 32px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

#root{
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
  
/* .card-footer {
  background-color: rgba(128, 0, 128, 0.2);
} */

.btn-purple {
  --bs-btn-color: #fff;
  --bs-btn-bg: #2f0b5f;
  --bs-btn-border-color: #2f0b5f;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #451c7a;
  --bs-btn-hover-border-color: #451c7a;
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #451c7a;
  --bs-btn-active-border-color: #58308d;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #2f0b5f;
  --bs-btn-disabled-border-color: #2f0b5f;
}

.btn {
  margin: 2px;
}
.bg-text {
  color: black;
  position: absolute;
  font-style: trocchi;
  top: 40%;
  left: 53%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
font-family: 'Trocchi', serif;
  font-size: 90px;
}
/* .centered {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
} */
.home-img{
 background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(131, 134, 134, 0.5)), url('../public/images/homepage.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  }
  .btn-outline-dark{
    color: #000000;
    font-weight: 500;
    background-color: rgb(255, 255, 255);
    padding: 5px 30px;
    border-radius: 20px;
    text-decoration: none;
    font-family: 'Roboto Mono', sans-serif ;
  }